body{
    margin: 0;
    padding: 0;
    background-color:rgb(250, 225, 189);
}
 
.galleria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.galleria img{
    width: 100%;
    aspect-ratio: 16\ 9;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s ease;
    filter: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0, 4);
}

.galleria img:hover{
    transform: scale(1.03);
    filter: brightness(1.1);
}
.img-header {
    list-style: none;
    padding: 0;
    margin: 0;
     display: flex;
   justify-content: flex-end;
}

.img-header li {
    margin-left: 20px; 
}


.img-header li a {
    text-decoration: none; /* Rimuove la sottolineatura */
    color:black;
    padding: 5px 10px;
    display: block; /* Rende cliccabile tutta l'area del link */
    font-size: 1.2em;
    font-weight: bold;
}


header nav {
  
    width: 100%;
    /* Allinea la navigazione a destra (dato che .img-header ha justify-content: flex-end) */
    text-align: right; 
}