.storia, .luogo {
  padding: 80px 40px;
  text-align: center;
  background-color: #0e0e0e;
}

.storia h2, .luogo h2 {
  color: #ffcc00;
  margin-bottom: 20px;
}

.storia p, .luogo p {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  color: #ddd;
}