body,html{
  margin: 0px;
  padding: 0px;
}

body{
  background-color:rgb(255, 229, 190)
}

.img-header{
   
    list-style: none;
     padding: 0;
    margin: 0;
  background-image: url(./assets/templi-giapponesi.webp);
  height: 300px;
  display: flex;
  
    justify-content: flex-end;
}
 .img-header li{
  margin-left: 20px; 

 }

 .img-header li a {
    text-decoration: none; 
    color: black;
    padding: 5px 10px;
    display: block; 
    font-size: 1.2em; 
    font-weight: bold; 
}

   header nav {
   
    width: 100%;
    text-align: right; 
}

footer {
  
    width: 100%;
    text-align: left; 
    padding: 20px 0; 
   
  
}

footer {
    
    width: 100%;
    text-align: left; 
    padding: 20px 0; 
    
}


footer ul {
   
    list-style: none;
    padding-left: 0; 
    margin: 0;
   margin-left: 20px; 
}


footer ul li {
     display: block; 
    margin-bottom: 3px; 
    font-size: 1.20em;
    font-weight: bold;
    color: rgb(46, 46, 119);

}
   
    h1, h2, h3{
  color: rgb(18, 18, 103);
}

main p{
  font-size: 1.15em;
  line-height: 1.6;
}

.color{
  color: white;
}

